{
    margin: 0;
    padding: 0;
}

body{
    background-image:url(http://www.adriacraft.net/images/stories/news/2013/Dec/04/news_background_heroes.jpg);
    
    / Full height /
    height: 100%; 

    / Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Heading h1, h2 {
    color:white;
    clear:both;
    display:inline;
}
#Heading h2{
    padding-left:20em;
}
nav{
    width: 100%;
    height: 60px;
    background-color: white;
}

nav p {
    font-family : Arial;
    color: #222;
    font-size: 22px;
    line-height: 55px;
    float: left;
    padding: 0px 10px;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: block;
    font-family : Arial;
    color: #222;
    font-size: 14px;
    line-height: 55px;
    padding: 0px 14px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    width: 100px;
    border-radius: 4px;
}

nav ul li ul li a{
    padding: 4px 10px;
}

nav ul li ul li a:hover{
    background-color: #f3f3f3;
}
img{
    border-color:purple;
    border-style:solid;
    float:left;
    margin-right:10px;
}
#skills ul li{
    color: white;
    list-style: none;
}
h1{
    color:white;
}

.Ranks{
    color:white;
    display:inline-block;
    padding-left:1em;
    padding-right:10em;
    text-decoration:underline;
}